<!DOCTYPE html>
<html lang="zxx">
<head>
<meta charset="utf-8">
<meta name="description" content="Abaz">
<meta name="keywords" content="HTML,CSS,JavaScript">
<meta name="author" content="HiBootstrap">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>Abaz - Magazine & Blog HTML Template</title>
<link rel="icon" href="assets/images/tab.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/slick.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/meanmenu.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/magnific-popup.min.css" type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/boxicons.min.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/flaticon.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/bookblock.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/settings.css' type="text/css" media="all" />
<link rel='stylesheet' href='assets/css/layers.css' type="text/css" media="all" />
<link rel='stylesheet' href='assets/css/navigation.css' type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/nice-select.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/responsive.css" type="text/css" media="all" />
<!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>

<div class="preloader bg-dark">
<div class="preloader-wrapper">
<div class="preloader-content">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
</div>


<div class="fixed-top fixed-top-half">
<div class="navbar-area sticky-black navber-desktop-no-sticky navbar-no-shadow">
<div class="mobile-nav">
<a href="index.html" class="mobile-brand">
<img src="assets/images/logo.png" alt="logo" class="logo">
</a>
<div class="navbar-option navbar-option-black">
<div class="navbar-option-item navbar-option-search dropdown">
<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton6" data-bs-toggle="dropdown">
<i class="flaticon-magnifying-glass"></i>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
<form>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
 <i class="flaticon-magnifying-glass"></i>
</div>
</div>
<input type="text" class="form-control" placeholder="Search article">
</div>
</form>
</div>
</div>
</div>
</div>
<div class="main-nav">
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="assets/images/logo.png" alt="logo" class="logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent6">
<ul class="navbar-nav mx-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Home</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="index.html" class="nav-link">Home Demo 1</a>
</li>
<li class="nav-item">
<a href="index-2.html" class="nav-link">Home Demo 2</a>
</li>
<li class="nav-item">
<a href="index-3.html" class="nav-link">Home Demo 3</a>
</li>
<li class="nav-item">
<a href="index-4.html" class="nav-link">Home Demo 4</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Post</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="single-post-1.html" class="nav-link">Single Post 1</a>
</li>
<li class="nav-item">
<a href="single-post-2.html" class="nav-link">Single Post 2</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="travel.html" class="nav-link">Travel</a>
</li>
<li class="nav-item">
<a href="fashion.html" class="nav-link">Fashion</a>
</li>
<li class="nav-item">
<a href="about.html" class="nav-link">About</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Pages</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="products.html" class="nav-link">Products</a>
</li>
<li class="nav-item">
<a href="product-details.html" class="nav-link">Product Details</a>
</li>
<li class="nav-item">
<a href="cart.html" class="nav-link">Cart</a>
</li>
<li class="nav-item">
<a href="wishlist.html" class="nav-link">Wishlist</a>
</li>
<li class="nav-item">
<a href="checkout.html" class="nav-link">Checkout</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Features</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="gallery.html" class="nav-link">Gallery</a>
</li>
<li class="nav-item">
<a href="typography.html" class="nav-link">Typography</a>
</li>
<li class="nav-item">
<a href="category.html" class="nav-link">Category</a>
</li>
<li class="nav-item">
<a href="promo.html" class="nav-link">Promo</a>
</li>
<li class="nav-item">
<a href="review.html" class="nav-link">Review</a>
</li>
<li class="nav-item">
<a href="inline-posts.html" class="nav-link">Inline Posts</a>
</li>
<li class="nav-item">
<a href="meet-the-team.html" class="nav-link">Meet The Team</a>
</li>
<li class="nav-item">
<a href="paginated-posts.html" class="nav-link">Paginated Posts</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Users</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="login.html" class="nav-link">Log In</a>
</li>
<li class="nav-item">
<a href="signup.html" class="nav-link">Sign Up</a>
</li>
<li class="nav-item">
<a href="forget-password.html" class="nav-link">Forget Password</a>
</li>
<li class="nav-item">
<a href="my-account.html" class="nav-link">My Account</a>
</li>
<li class="nav-item">
<a href="my-orders.html" class="nav-link">My Orders</a>
</li>
<li class="nav-item">
<a href="my-addresses.html" class="nav-link">My Addresses</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Others</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="terms-of-service.html" class="nav-link">Terms Of Service</a>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
</li>
<li class="nav-item">
<a href="search-page.html" class="nav-link">Search Page</a>
</li>
<li class="nav-item">
<a href="404.html" class="nav-link">404 Error Page</a>
</li>
<li class="nav-item">
<a href="coming-soon.html" class="nav-link">Coming Soon</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="nav-item">
<a href="contact.html" class="nav-link active">Contact</a>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>


<div class="page-grid">
<div class="page-grid-item side-header-bg-6 inner-page-side-header">
<div class="page-header-inner">
<div class="page-header-content page-header-justify-between page-header-content-white">
<div class="header-content-text desk-mt-auto desk-mb-auto">
<h1>Contact </h1>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Contact</li>
</ol>
</nav>
</div>
<div class="header-bottom">
<ul class="header-social social-list social-list-white">
<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
<li><a href="#"><i class="flaticon-twitter"></i></a></li>
<li><a href="#"><i class="flaticon-youtube"></i></a></li>
<li><a href="#"><i class="flaticon-vimeo"></i></a></li>
<li><a href="#"><i class="flaticon-instagram"></i></a></li>
</ul>
<div class="header-bottom-link">
<p><a href="#" class="redirect-link back-page">Back To Previous Page <i class="flaticon-next"></i></a></p>
</div>
</div>
</div>
</div>
</div>

<div class="page-grid-item page-grid-body bg-off-white page-grid-left-shadow">
<div class="container page-body-inner">
<div class="search-area mb-30">
<form>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
<i class="flaticon-magnifying-glass"></i>
</div>
</div>
<input type="text" class="form-control" placeholder="Search Article">
</div>
</form>
</div>
<div class="section-title section-title-left text-start mt-0">
<h2>Contact With Us Anytime</h2>
</div>

<div class="contact-info-item">
<div class="row">
<div class="col-6 col-lg-4">
<div class="category-item category-item-1 category-item-white">
<div class="category-content">
<h3>Phone No</h3>
<p><a href="tel:001-321-4536">001 321 4536</a></p>
<p><a href="tel:001-123-4536">001 123 4536</a></p>
</div>
</div>
</div>
<div class="col-6 col-lg-4">
<div class="category-item category-item-2 category-item-white">
<div class="category-content">
<h3>Email</h3>
<p><a href="/cdn-cgi/l/email-protection#69010c05050629080b0813470a0604"><span class="__cf_email__" data-cfemail="422a272e2e2d02232023386c212d2f">[email&#160;protected]</span></a></p>
<p><a href="/cdn-cgi/l/email-protection#097a7c7979667b7d49686b6873276a6664"><span class="__cf_email__" data-cfemail="6615131616091412260704071c4805090b">[email&#160;protected]</span></a></p>
</div>
</div>
</div>
<div class="col-6 col-lg-4 offset-3 offset-lg-0">
<div class="category-item category-item-3 category-item-white">
<div class="category-content">
<h3>Address</h3>
<p>3533 McDonald Avenue Lake Mary, FL 23546 </p>
</div>
</div>
</div>
</div>
</div>


<div class="page-news-box bg-white">
<div class="sub-section-title mt-0">
<h3 class="sub-section-title-heading">Send A Message</h3>
</div>
<form class="contact-form" id="contactForm">
<div class="row">
<div class="col-12 col-md-6 col-lg-6">
<div class="form-group mb-20">
<input type="text" name="name" id="name" class="form-control" placeholder="Your name*" required data-error="Please enter your name" />
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-6">
<div class="form-group mb-20">
<input type="text" name="email" id="email" class="form-control" placeholder="Email*" required data-error="Please enter your email" />
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-6">
<div class="form-group mb-20">
<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject*" required data-error="Please enter your subject" />
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-6">
<div class="form-group mb-20">
<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone*" required data-error="Please enter your phone number" />
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-12 col-md-12 col-lg-12">
<div class="form-group mb-20">
<textarea name="message" class="form-control" id="message" rows="6" placeholder="Your Message*"></textarea>
</div>
</div>
<div class="col-12">
<div class="input-checkbox mb-20">
<input type="checkbox" id="contact1">
<label for="contact1">Accept <strong><a href="terms-service.html">Terms of Service</a></strong> and <strong><a href="privacy-policy">Privacy Policy</a></strong></label>
</div>
</div>
<div class="col-12 col-md-12 col-lg-12 mb-30">
<button class="btn main-btn" type="submit">Send A Message</button>
<div id="msgSubmit"></div>
<div class="clearfix"></div>
</div>
</div>
</form>
</div>


<footer>
<div class="footer-upper pt-70 pb-80 border-0">
<div class="footer-content">
<div class="footer-content-item text-left">
<div class="footer-logo">
<a href="index.html"><img src="assets/images/logo-black.png" alt="logo"></a>
</div>
</div>
<div class="footer-content-item">
<ul class="footer-social social-list">
<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
<li><a href="#"><i class="flaticon-twitter"></i></a></li>
<li><a href="#"><i class="flaticon-youtube"></i></a></li>
<li><a href="#"><i class="flaticon-vimeo"></i></a></li>
<li><a href="#"><i class="flaticon-instagram"></i></a></li>
</ul>
</div>
</div>
</div>
<div class="footer-lower footer-lower-border pt-30">
<div class="footer-copyright-text">
<p>Copyright ©2021 Abaz. Design &amp; Developed By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
</div>
</div>
</footer>

</div>
</div>

</div>





<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>

<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>

<script src="assets/js/slick.min.js"></script>

<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/modernizr.custom.js"></script>
<script src="assets/js/jquerypp.custom.js"></script>
<script src="assets/js/jquery.bookblock.js"></script>

<script src="assets/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/revolution.addon.slicey.min.js"></script>

<script src="assets/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/js/extensions/revolution.extension.video.min.js"></script>

<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/jquery.meanmenu.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>