<!DOCTYPE html>
<html lang="zxx">
<head>
<meta charset="utf-8">
<meta name="description" content="Abaz">
<meta name="keywords" content="HTML,CSS,JavaScript">
<meta name="author" content="HiBootstrap">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>Abaz - Magazine & Blog HTML Template</title>
<link rel="icon" href="assets/images/tab.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/slick.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/meanmenu.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/magnific-popup.min.css" type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/boxicons.min.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/flaticon.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/bookblock.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/settings.css' type="text/css" media="all" />
<link rel='stylesheet' href='assets/css/layers.css' type="text/css" media="all" />
<link rel='stylesheet' href='assets/css/navigation.css' type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/nice-select.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

<link rel="stylesheet" href="assets/css/responsive.css" type="text/css" media="all" />
<!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>

<div class="preloader bg-dark">
<div class="preloader-wrapper">
<div class="preloader-content">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
</div>


<div class="fixed-top fixed-top-half">
<div class="navbar-area sticky-black navber-desktop-no-sticky navbar-no-shadow">
<div class="mobile-nav">
<a href="index.html" class="mobile-brand">
<img src="assets/images/logo.png" alt="logo" class="logo">
</a>
<div class="navbar-option navbar-option-black">
<div class="navbar-option-item navbar-option-search dropdown">
<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton6" data-bs-toggle="dropdown">
<i class="flaticon-magnifying-glass"></i>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
<form>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
 <i class="flaticon-magnifying-glass"></i>
</div>
</div>
<input type="text" class="form-control" placeholder="Search article">
</div>
</form>
</div>
</div>
</div>
</div>
<div class="main-nav">
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="assets/images/logo.png" alt="logo" class="logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent6">
<ul class="navbar-nav mx-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Home</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="index.html" class="nav-link">Home Demo 1</a>
</li>
<li class="nav-item">
<a href="index-2.html" class="nav-link">Home Demo 2</a>
</li>
<li class="nav-item">
<a href="index-3.html" class="nav-link">Home Demo 3</a>
</li>
<li class="nav-item">
<a href="index-4.html" class="nav-link">Home Demo 4</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Post</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="single-post/single-post-1.html" class="nav-link">Single Post 1</a>
</li>
<li class="nav-item">
<a href="single-post-2.html" class="nav-link">Single Post 2</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="travel.html" class="nav-link">Travel</a>
</li>
<li class="nav-item">
<a href="fashion.html" class="nav-link">Fashion</a>
</li>
<li class="nav-item">
<a href="about.html" class="nav-link">About</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">Pages</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="products.html" class="nav-link">Products</a>
</li>
<li class="nav-item">
<a href="product-details.html" class="nav-link">Product Details</a>
</li>
<li class="nav-item">
<a href="cart.html" class="nav-link">Cart</a>
</li>
<li class="nav-item">
<a href="wishlist.html" class="nav-link">Wishlist</a>
</li>
<li class="nav-item">
<a href="checkin/checkout.html" class="nav-link">Checkout</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">Features</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="gallery.html" class="nav-link">Gallery</a>
</li>
<li class="nav-item">
<a href="typography.html" class="nav-link">Typography</a>
</li>
<li class="nav-item">
<a href="category.html" class="nav-link">Category</a>
</li>
<li class="nav-item">
<a href="promo.html" class="nav-link">Promo</a>
</li>
<li class="nav-item">
<a href="review.html" class="nav-link">Review</a>
</li>
<li class="nav-item">
<a href="inline-posts.html" class="nav-link active">Inline Posts</a>
</li>
<li class="nav-item">
<a href="meet-the-team.html" class="nav-link">Meet The Team</a>
</li>
<li class="nav-item">
<a href="paginated-posts.html" class="nav-link">Paginated Posts</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Users</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="login.html" class="nav-link">Log In</a>
</li>
<li class="nav-item">
<a href="signup.html" class="nav-link">Sign Up</a>
</li>
<li class="nav-item">
<a href="forget-password.html" class="nav-link">Forget Password</a>
</li>
 <li class="nav-item">
<a href="my-account.html" class="nav-link">My Account</a>
</li>
<li class="nav-item">
<a href="my-orders.html" class="nav-link">My Orders</a>
</li>
<li class="nav-item">
<a href="my-addresses.html" class="nav-link">My Addresses</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Others</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="terms-of-service.html" class="nav-link">Terms Of Service</a>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
</li>
<li class="nav-item">
<a href="search-page.html" class="nav-link">Search Page</a>
</li>
<li class="nav-item">
<a href="404.html" class="nav-link">404 Error Page</a>
</li>
<li class="nav-item">
<a href="coming-soon.html" class="nav-link">Coming Soon</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="nav-item">
<a href="contact.html" class="nav-link">Contact</a>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>


<div class="page-grid">
<div class="page-grid-item side-header-bg-6 inner-page-side-header">
<div class="page-header-inner">
<div class="page-header-content page-header-justify-between page-header-content-white">
<div class="header-content-text desk-mt-auto desk-mb-auto">
<h1><span>Inline Posts</span> </h1>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Inline Posts</li>
</ol>
</nav>
</div>
<div class="header-bottom">
<ul class="header-social social-list social-list-white">
<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
<li><a href="#"><i class="flaticon-twitter"></i></a></li>
<li><a href="#"><i class="flaticon-youtube"></i></a></li>
<li><a href="#"><i class="flaticon-vimeo"></i></a></li>
<li><a href="#"><i class="flaticon-instagram"></i></a></li>
</ul>
<div class="header-bottom-link">
<p><a href="#" class="redirect-link back-page">Back To Previous Page <i class="flaticon-next"></i></a></p>
</div>
</div>
</div>
</div>
</div>

<div class="page-grid-item page-grid-body bg-off-white page-grid-left-shadow pb-tab-20">
<div class="container page-body-inner">
<div class="search-area mb-30">
<form>
<div class="input-group">
<div class="input-group-prepend">
<div class="input-group-text">
<i class="flaticon-magnifying-glass"></i>
</div>
</div>
<input type="text" class="form-control" placeholder="Search Article">
</div>
</form>
</div>
<div class="news-category">
<div class="news-title mt-0">
<h2>Men's Corner</h2>
</div>
<div class="page-news-box bg-white">
<div class="row">
<div class="news-category-item col-lg-12 col-xl-6">
<div class="news-card">
<div class="news-card-thumb">
<a href="single-post/single-post-1.html"><img src="assets/images/men/men-lg-1.jpg" alt="men"></a>
</div>
<div class="news-card-content">
<h3><a href="single-post/single-post-1.html">The Top 10 Trends For Men In 2021 To Get A Stylish Look</a></h3>
<p>Lorem ipsum dolor sit am et, con setetur sadipscing elit, sed diamn onumy ei rmod tem por inviduntutli bore et</p>
<div class="news-card-action">
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 16 Dec, 2020</li>
</ul>
<p class="news-card-link">
<a href="single-post/single-post-1.html">Read The Article</a>
</p>
</div>
</div>
</div>
<div class="news-card-flat">
<div class="news-card-thumb">
<a href="single-post/single-post-1.html"><img src="assets/images/men/men-long-1.jpg" alt="men"></a>
</div>
<div class="news-card-content">
<h3><a href="single-post/single-post-1.html">Classic Trims: Top 5 Short Back And Sides Haircuts</a></h3>
<p>Lorem ipsum dolor sit am et, con setetur sadipscing elit, sed </p>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 16 Dec, 2020</li>
</ul>
 <p class="news-card-link text-sm-end">
<a href="single-post/single-post-1.html">Read The Article</a>
</p>
</div>
</div>
</div>
<div class="news-category-item col-lg-12 col-xl-6">
<div class="news-flat">
<a href="single-post/single-post-1.html">
<div class="news-flat-thumb">
<img src="assets/images/men/men-sm-1.jpg" alt="men">
</div>
<div class="news-flat-content">
<h3>Festive Favorites: The Brands That...</h3>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 16 Dec, 2020</li>
</ul>
</div>
</a>
</div>
<div class="news-flat">
<a href="single-post/single-post-1.html">
<div class="news-flat-thumb">
<img src="assets/images/men/men-sm-2.jpg" alt="men">
</div>
<div class="news-flat-content">
<h3>Your Usual Stylish Guide To The...</h3>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 15 Dec, 2020</li>
</ul>
</div>
</a>
</div>
<div class="news-flat">
<a href="single-post/single-post-1.html">
<div class="news-flat-thumb">
<img src="assets/images/men/men-sm-3.jpg" alt="men">
</div>
<div class="news-flat-content">
<h3>Choosing The Best Place For...</h3>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 14 Dec, 2020</li>
</ul>
</div>
</a>
</div>
<div class="news-flat">
<a href="single-post/single-post-1.html">
<div class="news-flat-thumb">
<img src="assets/images/men/men-sm-4.jpg" alt="men">
</div>
<div class="news-flat-content">
<h3>Point And Click: The Most Stylish...</h3>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 13 Dec, 2020</li>
</ul>
</div>
</a>
</div>
<div class="news-flat">
 <a href="single-post/single-post-1.html">
<div class="news-flat-thumb">
<img src="assets/images/men/men-sm-5.jpg" alt="men">
</div>
<div class="news-flat-content">
<h3>Point And Click: The Most Stylish Camera...</h3>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 13 Dec, 2020</li>
</ul>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="news-category">
<div class="news-title">
<h2>Fashion</h2>
</div>
<div class="page-news-box bg-white">
<div class="row">
<div class="col-12">
<div class="news-card-grid row">
<div class="news-card-grid-item col-lg-6">
<a href="single-post/single-post-1.html"><div class="news-card-thumb news-thumb-bg-6"></div></a>
</div>
<div class="news-card-grid-item col-lg-6">
<div class="news-grid-header">
<h3><a href="single-post/single-post-1.html">How To Choose The Best Outfit For This <span>Winter</span></a></h3>
<ul class="news-card-entry">
<li><i class="flaticon-calendar"></i> 16 Dec, 2020</li>
</ul>
</div>
</div>
<div class="news-card-grid-item col-lg-12">
<div class="news-grid-details-inner row">
<div class="news-grid-details col">
<div class="news-grid-details-para">
<p>Lorem ipsum dolor sit am et, con setetur sadipscing elit, sed diamn onumy ei rmod tem porie inviduntutli bore et dolore. Mag na aliy quya me rat, sed diam volup tua. At vero eos et accusy</p>
</div>
<div class="news-grid-action">
<p class="news-author  author-name">-by <strong>Adam Smith</strong></p>
<p class="news-card-link">
<a href="single-post/single-post-1.html">Read The Article</a>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="page-news-box bg-white">
<div class="row">
<div class="col-12">
<div class="news-card-grid row">
<div class="news-card-grid-item col-lg-6 order-2 order-lg-1">
 <div class="news-grid-header text-lg-end">
<h3><a href="single-post/single-post-1.html">The Most Elegant Shoes Used By <span>Celebrity</span></a></h3>
<ul class="news-card-entry justify-content-lg-end">
<li><i class="flaticon-calendar"></i> 15 Dec, 2020</li>
</ul>
</div>
</div>
<div class="news-card-grid-item col-lg-6 order-1 order-lg-2">
<a href="single-post/single-post-1.html"><div class="news-card-thumb news-thumb-bg-7"></div></a>
</div>
<div class="news-card-grid-item col-lg-12 order-3 order-lg-3">
<div class="news-grid-details-inner row">
<div class="news-grid-details col">
<div class="news-grid-details-para text-lg-end">
<p>Lorem ipsum dolor sit am et, con setetur sadipscing elit, sed diamn onumy ei rmod tem porie inviduntutli bore et dolore. Mag na aliy quya me rat, sed diam volup tua. At vero eos et accusy</p>
</div>
<div class="news-grid-action">
<p class="news-author  author-name">-by <strong>Adam Smith</strong></p>
<p class="news-card-link">
<a href="single-post/single-post-1.html">Read The Article</a>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<footer>
<div class="footer-upper pt-70 pb-80 border-0">
<div class="footer-content">
<div class="footer-content-item text-left">
<div class="footer-logo">
<a href="index.html"><img src="assets/images/logo-black.png" alt="logo"></a>
</div>
</div>
<div class="footer-content-item">
<ul class="footer-social social-list">
<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
<li><a href="#"><i class="flaticon-twitter"></i></a></li>
<li><a href="#"><i class="flaticon-youtube"></i></a></li>
<li><a href="#"><i class="flaticon-vimeo"></i></a></li>
<li><a href="#"><i class="flaticon-instagram"></i></a></li>
</ul>
</div>
</div>
</div>
<div class="footer-lower footer-lower-border pt-30">
<div class="footer-copyright-text">
<p>Copyright ©2021 Abaz. Design &amp; Developed By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
</div>
</div>
 </footer>

</div>
</div>

</div>


<div class="scroll-top" id="scrolltop">
<div class="scroll-top-inner">
<span><i class="bx bx-up-arrow-alt"></i></span>
</div>
</div>


<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>

<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>

<script src="assets/js/slick.min.js"></script>

<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/modernizr.custom.js"></script>
<script src="assets/js/jquerypp.custom.js"></script>
<script src="assets/js/jquery.bookblock.js"></script>

<script src="assets/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/revolution.addon.slicey.min.js"></script>

<script src="assets/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/js/extensions/revolution.extension.video.min.js"></script>

<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/jquery.meanmenu.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>