<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css" media="all" />
</head>
<body>

<button type="button" name="submitLogin" id="submitLogin"><span>登 录</span></button>
<form>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
</form>

<script src="../../js/jquery-3.5.1.min.js"></script>
<script src="../../js/seajs/3.0.0/sea.js"></script>
<script src="../../js/seajs/3.0.0/sea-plugins.js" id="seajsnode"></script>
<script src="../../js/admin/config.js"></script>
<script>
    seajs.use("./mytest",function (a){
        a.init();
    });
</script>
</body>
</html>