/*** Fonts ***/
@import url("../fonts/font-family-Bangers.css");
/*** Box Reset ***/
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  max-width: 1920px;
  margin: 0 auto;
}

.item {
  display: inline-block;
  min-height: 400px;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** Images With Color Fallbacks ***/
.item:nth-child(1) {
  background-color: #e74c3c;
  background-image: url(../imgs/1.jpg);
  background-position: center top;
}

.item:nth-child(2) {
  background-color: #3498db;
  background-image: url(../imgs/2.jpg);
  background-position: center 35%;
}

.item:nth-child(3) {
  background-color: #bdc3c7;
  background-image: url(../imgs/3.jpg);
  background-position: center 20%;
}

.item:nth-child(4) {
  background-color: #2c3e50;
  background-image: url(../imgs/4.jpg);
}

.item:nth-child(5) {
  background-color: #2c3e50;
  background-image: url(../imgs/5.jpg);
  background-position: center 0;
}

.item:nth-child(6) {
  background-color: #27ae60;
  background-image: url(../imgs/6.jpg);
  background-position: 50% 25%;
}

.item:nth-child(7) {
  background-color: #f1c40f;
  background-image: url(../imgs/7.jpg);
  background-position: left 27%;
}

.item:nth-child(8) {
  background-color: #2980b9;
  background-image: url(../imgs/8.jpg);
  background-position: center 22%;
}

/*** Grid Set Up ***/
@supports (display: grid) {
  .item {
    width: auto;
    min-height: 0;
  }

  .item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / 20;
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 76.5%, 0 100%);
    clip-path: polygon(0 0, 80% 0, 100% 76.5%, 0 100%);
    margin-bottom: -93px;
  }

  .item:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / 20;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 80%, 15.5% 100%);
    clip-path: polygon(0 0, 100% 0, 75% 80%, 15.5% 100%);
    margin-left: -21%;
    margin-right: -5%;
  }

  .item:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / 20;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 53%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 53%);
    margin-left: -28%;
    margin-bottom: -150px;
  }

  .item:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 20 / 40;
    -webkit-clip-path: polygon(0 22.5%, 100% 0, 100% 77.5%, 0 100%);
    clip-path: polygon(0 22.5%, 100% 0, 100% 77.5%, 0 100%);
    margin-top: -5px;
    margin-bottom: -93px;
  }

  .item:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 20 / 40;
    -webkit-clip-path: polygon(0 13%, 74% 0, 100% 9.25%, 100% 100%, 0 100%);
    clip-path: polygon(0 13%, 74% 0, 100% 9.25%, 100% 82%, 65% 100%, 0 82%);
    margin-top: -67px;
    margin-left: -1%;
    margin-bottom: -86px;
  }

  .item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 20 / 40;
    -webkit-clip-path: polygon(0 0, 100% 34.5%, 100% 100%, 0 68.5%);
    clip-path: polygon(0 0, 100% 34.5%, 100% 100%, 0 68.5%);
    margin-left: -1%;
    margin-top: -20px;
    margin-bottom: -150px;
  }

  .item:nth-child(7) {
    grid-column: 1 / 3;
    grid-row: 40 / 60;
    -webkit-clip-path: polygon(0 30%, 49% 0, 75% 38%, 34% 100%, 0 100%);
    clip-path: polygon(0 30%, 49% 0, 82% 27%, 34% 100%, 0 100%);
    margin-top: -7px;
  }

  .item:nth-child(8) {
    grid-column: 2 / span 2;
    grid-row: 40 / 60;
    -webkit-clip-path: polygon(0 100%, 57% 0, 100% 48%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 57% 0, 100% 48%, 100% 100%, 0 100%);
    margin-left: -15%;
    margin-top: -7px;
  }
}
/*** Floating Text ***/
.text-box {
  position: absolute;
  top: 560px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  /*margin: 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  user-select:none;
  display: block;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0px 3px 15px #000;
  font-family: 'Bangers', cursive;
  font-size: 3.5vmax;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  /*border: 1px solid rgb(146, 148, 248);*/
  position: relative;
  overflow: hidden;
  border-radius:100px;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          120deg,
          transparent,
          rgba(146, 148, 248, 0.4),
          transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}