@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.search-box {
  border: solid 0.25vmax black;
  /*display: inline-block;*/
  position: relative;
  border-radius: 2.5vmax;
  display: block;
  text-align: center;
}
.search-box input[type="text"] {
  font-family: Raleway, sans-serif;
  font-size: 2.5vmax;
  font-weight: bold;
  width: 2.5vmax;
  height: 2.5vmax;
  padding: 0.25vmax 2vmax 0.25vmax 0.5vmax;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5vmax;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}
.search-box input[type="text"]:focus {
  outline: none;
}
.search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
  width: 15vmax;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
.search-box input[type="text"]:focus + span, .search-box input[type="text"]:not(:placeholder-shown) + span {
  bottom: 0.65vmax;
  right: 0.5vmax;
  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}
.search-box input[type="text"]:focus + span:after, .search-box input[type="text"]:not(:placeholder-shown) + span:after {
  top: 0;
  right: 0.5vmax;
  opacity: 1;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}
.search-box span {
  width: 1.25vmax;
  height: 1.25vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -0.65vmax;
  right: -0.65vmax;
  transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}
.search-box span:before, .search-box span:after {
  content: '';
  height: 1.25vmax;
  border-left: solid 0.25vmax black;
  position: absolute;
  transform: rotate(-45deg);
}
.search-box span:after {
  transform: rotate(45deg);
  opacity: 0;
  top: -1vmax;
  right: -0.5vmax;
  transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}
